body{
    width: 40%;
    border: solid;
    border-color:rgb(156, 136, 102);
    margin: auto;
    padding: 10px;
    background-image: url(/Students/Ariel/FFxiv\ my\ cafe.png); 
}
/* for text fonts */
h1,
h2{

    font-family: 'Times New Roman', Times, serif;
}

p{

    font-family: 'Times New Roman', Times, serif;
}
/* to remove the bullet points */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* the gray transperant background */
.in-background{
    height: 100%;
    width: 100%;
    background-color:rgb(255, 255, 255,0.6);
    
}
/* texts spacing */
.Aj{
    line-height: 1.6;
    text-align: center;
}
/* centering the text */
.mid{
    text-align: center;
}